html {
    font-size: 16px;
    height: 100%;
}

body {
    height: 100%;
    margin: 0;
    font-family: "Patrick Hand", sans-serif;
    font-weight: 400;
    font-style: normal;
}

#app {
    height: 100%;
}

h1 {
    width: 75vw;
    font-size: 2rem;
    color: rgb(35, 35, 255);
    margin-bottom: 1rem;
}

@media (min-width: 600px) {
    html{
        font-size: 18px;
    }
}

@media (min-width: 900px) {
    html{
        font-size: 22px;
    }
}

@media (min-width: 1200px) {
    html{
        font-size: 24px;
    }
}

button {
    color: white;
    font-size: 1.5rem;
    font-weight: 400;
    background-color: #7382BF;
    padding: 0.4rem 1rem;
    border-radius: 0.4rem;
}

button.full {
    width: 100%;
}

.braten {
    position: absolute;
    z-index: 100;
    width: 20px;
    height: 20px;
    background-color: red;
}

@media (min-width: 600px) {
    .braten {
        background-color: green;
    }
}

@media (min-width: 900px) {
    .braten {
        background-color: blue;
    }
}

@media (min-width: 1200px) {
    .braten {
        background-color: yellow;
    }
}

.beard {
    border-radius: 0.4rem;
    border: 0.15rem solid #C1C1F9;
    /* background-color: #C1C1F9; */
    box-shadow: 0px 0px 0.3rem 0px #C1C1F9;
    transition: background-color 0.2s ease, border 0.2s ease; /* Transition on both properties */
    color: #7382BF;
    font-variant-ligatures: none;
    display: flex;
    justify-content: center;
    align-items: center;
}